server:
  port: 8081

spring:
  profiles:
    default: local
  datasource:
    url: jdbc:mysql://localhost:3306/study_db
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  data:
    redis:
      host: localhost
      port: 6379 # redis의 기본 포트 설정


logging:
  level:
    org.springframework.cache: trace # Redis 사용에 대한 로그가 조회되도록 설정